<div class="container-fluid  flex-wrap" style="margin-top: 4rem;">
    <footer class="py-5 px-5 fs-6  ">
        <div class="row py-3 fw-bold fs-4 ">
            <div class="col-3">Flying with Krupal</div>
            <div class="col-3">Know Krupal</div>
            <div class="col-3">Quick Links</div>
            <div class="col-3">Media Center</div>

        </div>

        <div class="row">
            <div class="col-3">
                <ol class="list-unstyled ">
                    <li>Why Fly with Krupal</li>
                    <li>Our Network</li>
                    <li>Flight Schedule</li>
                    <li>Fare Sheet</li>
                    <li>Special Fares</li>
                    <li>Cafe Krupal</li>
                    <li>Customer Experience</li>
                    <li>Unaccompanied Minors</li>
                    <li>Pets on Krupal</li>
                </ol>
            </div>
            <div class="col-3">
                <ol class="list-unstyled ">
                    <li>About Us</li>
                    <li>Leadership Team</li>
                    <li>Our Commitment</li>
                    <li>Our Fleet</li>
                    <li>Careers</li>
                </ol>
            </div>
            <div class="col-3">
                <ol class="list-unstyled ">
                    <li>Krupal Agents Login</li>
                    <li>Cargo</li>
                    <li>Terms and Conditions</li>
                    <li>Conditions of Carriage</li>
                    <li>Privacy Policy</li>
                    <li>Disclaimer</li>
                    <li>Supplier Code of Conduct</li>
                </ol>
            </div>
            <div class="col-3">
                <ol class="list-unstyled ">
                    <li>Newsroom</li>
                    <li>Spotlight</li>
                    <li>Press Releases</li>
                    <li>Company Statements</li>
                    <li>Digital Press Kit</li>
                </ol>
            </div>
        </div>
        <div class="d-flex flex-wrap  ">
            <div class=" row w-100 align-middle d-flex copyright-sec align-middle border  rounded-3">
                <div class="col-4 ">
                    <span class=" fw-bold fs-2 pe-2 ft-kp ">Krupal Air</span>
                    <span class="border-start border-dark ps-2">IT'S YOUR SKY</span>
                </div>
                <div class="col-4  allign-middle pt-3">
                    <p>© Copyright 2023 Krupal Air. All rights reserved</p>
                </div>
                <div class="col-4  pt-3 fs-6 privacy">
                    <span class="border-end border-dark pe-2">Terms And Conditions</span>
                    <span class=" ps-2">Privacy Polacy</span>
                </div>

            </div>

        </div>

        <div class="row pt-3 logos-downd rounded-3">
            <div class="col-8 d-flex flex-wrap ">
                <div class="pe-2">
                    <h4>Download Our app</h4>
                </div>
                <div class="d-flex flex-wrap">
                    <div class="pe-2">
                        <img src="../assets/logos/os-download-btn.svg" height="40px" alt="">
                    </div>
                    <div>
                        <img src="../assets/android-download-btn.svg" height="40px" alt="">
                    </div>
                </div>
            </div>
            <div class="col-4 d-flex flex-wrap   float-end  ">
                <div class="px-2">
                    <img src="../../../assets/logo_facebook.svg" height="40px" alt="">
                </div>
                <div class="px-2">
                    <img src="../../../assets/logo_instagram.svg" height="40px" alt="">
                </div>
                <div class="px-2">
                    <img src="../../../assets/logo_linkedin.svg" height="40px" alt="">
                </div>
                <div class="px-2">
                    <img src="../../../assets/logos/logo_twitter.svg" height="40px" alt="">
                </div>
                <div class="px-2">
                    <img src="../../../assets/logos/logo_youtube.svg" height="40px" alt="">
                </div>


            </div>

        </div>
    </footer>

</div>
