<mat-card color="primary" class="card mat-elevation-z8">
  <form class="example-form" [formGroup]="myForm" (ngSubmit)="editSchedule()">
    <mat-card-content>
      <h2 style="text-align: center">Edit Schedule</h2>
      <div class="form-group">
        <div class="dropdown">
        <p-dropdown [options]="airports" formControlName="source_airport" optionLabel="city" [filter]="true" filterBy="city" [showClear]="true" placeholder="Select Source Airport">
          <ng-template pTemplate="selectedItem">
            <div class="flex align-items-center gap-2" *ngIf="myForm.get('source_airport').value">
              <div>{{ myForm.get('source_airport').value.city }}</div>
            </div>
          </ng-template>
          <ng-template let-airport pTemplate="item">
            <div class="flex align-items-center gap-2">
              <div>{{ airport.city }}</div>
            </div>
          </ng-template>
        </p-dropdown>
        &nbsp;
        <p-dropdown [options]="airports" formControlName="destination_airport" optionLabel="city" [filter]="true" filterBy="city" [showClear]="true" placeholder="Select Destination Airport">
          <ng-template pTemplate="selectedItem">
            <div class="flex align-items-center gap-2" *ngIf="myForm.get('destination_airport').value">
              <div>{{ myForm.get('destination_airport').value.city }}</div>
            </div>
          </ng-template>
          <ng-template let-airport pTemplate="item">
            <div class="flex align-items-center gap-2">
              <div>{{ airport.city }}</div>
            </div>
          </ng-template>
        </p-dropdown>
        &nbsp;
        <p-dropdown [options]="flights" formControlName="flight" optionLabel="flight_number" [filter]="true" filterBy="flight_number" [showClear]="true" placeholder="Select Flight Number">
          <ng-template pTemplate="selectedItem">
            <div class="flex align-items-center gap-2" *ngIf="myForm.get('flight').value">
              <div>{{ myForm.get('flight').value.flight_number }}</div>
            </div>
          </ng-template>
          <ng-template let-flight pTemplate="item">
            <div class="flex align-items-center gap-2">
              <div>{{ flight.flight_number }}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
        <div class="row">
          <div class="col-75 form-group labelname">
            <label for="flight" style="margin-right: 10px"><b>Base Price:</b></label>
          </div>
          <div class="col-75 form-group">
            <input class="form-control" type="number" step="0.01" formControlName="base_price" placeholder="Enter number" />
            <span class="text-danger" *ngIf="(f.base_price.touched || submitted) && f.base_price.errors?.required">Base Price is required</span>
          </div>
        </div>
        <p>  </p>
        <div class="form-group">
          <label for="formGroupExampleInput2"><b>Enter the Departure time</b></label>
          <input matInput type="datetime-local" class="form-control" id="formGroupExampleInput2" placeholder="Enter the exam end time" formControlName="departure_time" name="endTime">
          <span class="text-danger" *ngIf="(f.departure_time.touched || submitted) && f.departure_time.errors?.required">Departure Time is required</span>
        </div>
        <p>  </p>
        <div class="form-group">
          <label for="formGroupExampleInput2"><b>Enter the exam Arrival time</b></label>
          <input matInput type="datetime-local" class="form-control" id="formGroupExampleInput2" placeholder="Enter the exam end time" formControlName="arrival_time" name="endTime">
          <span class="text-danger" *ngIf="(f.arrival_time.touched || submitted) && f.arrival_time.errors?.required">Arrival Time is required</span>
        </div>
        <div class="text-center">
          <p-toast position="top-center"></p-toast>
          <input class="btn btn-success btn-sm submit" type="submit" value="Update Schedule" />
        </div>
      </div>
    </mat-card-content>
  </form>
</mat-card>
