<h1>Dashboard</h1>
<!-- <div style="display: flex;gap: 1rem;">
<div class="card" >
    <div class="card-head">Total Users</div>
    <div class="card-body">
       user
    </div>
</div>
<div class="card" >
  <div class="card-head">Lorem ipsum - dashboard</div>
  <div class="card-body">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas ducimus soluta, quasi aut ipsa non, ullam enim rem repudiandae, vitae provident animi. Inventore rerum, voluptas optio dignissimos blanditiis modi illo!
  </div>
</div>
<div class="card" >
  <div class="card-head">Lorem ipsum - dashboard</div>
  <div class="card-body">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas ducimus soluta, quasi aut ipsa non, ullam enim rem repudiandae, vitae provident animi. Inventore rerum, voluptas optio dignissimos blanditiis modi illo!
  </div>
</div>
</div>
 -->
